<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to gravatar_for(@user, size: 50), @user %>
      <h1><%= @user.name %></h1>
      <span><%= "#{@user.microposts.count}件の投稿" %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="website">
      <a href = <%= "#{@user.website}" %> target="_blank" rel="noopener"><%= @user.website %></a>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="profile">
      <%= @user.profile %>
    </section>
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3><%= "#{@user.name}の投稿 (#{@user.microposts.count})" %></h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>